.edit-aircraft-dialog {
  display: flex;
}

.air-photo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 65vw;
  position: relative;
  margin-right: 10px;
}

.air-photos-control {
  display: flex;
}

.air-photos-control * {
  margin: 5px 5px 5px 0px;
}

.air-photo div img {
  width: 100%;
  object-fit: scale-down;
}

.air-photo div span {
  position: absolute;
  z-index: 99;
  bottom: 30px;
  left: 0;
  color: #fff;
  height: 0px;
  text-shadow: 1px 1px 5px black;
}

.force {
  display: flex;
  flex-direction: row;

}

.force div {
  display: flex;
  flex-direction: column;
  margin: 8px 8px 8px 0px;
}

.air-force-mapper {
  font-size: 13px;
}

.dialog-button-box button {
  margin-top: 10px;
  margin-right: 10px;
  padding: 5px 10px;
}